html {
    font-size: 62.5%;
    font-family: 'work sans', 'system-ui', 'sans-serif';
    line-height: 1.4;
    text-align: justify;
}

body {
    margin: 0;
}

h1 {
    font-size: 1.8rem;
}

p {
    font-size: 1.7rem;
    margin: 0;
}

a {
    font-size: 1.7rem;
    text-decoration: none;
}

ul {
    font-size: 1.7rem;
    padding: 0;
    list-style: none;
}

label {
    font-size: 1.6rem;
}

input {
    font-size: 1.5rem;
    font-family: 'work sans', 'system-ui', 'sans-serif';
}

/* --------------- */
/* ADVANCED STYLES */
/* --------------- */

input::placeholder, textarea::placeholder {
    color: #BDBDBD;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 2px solid #828282 !important;
    box-shadow: rgba(34, 34, 34, 0.3) 0px 3px 10px -2px !important;
}

input:disabled {
    background: none;
}

a:active, a:focus {
    outline: none;
    -moz-outline-style: none;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}